*~
*.swp
*.o
*.lo
*.la
kmscon
/test_*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
*.tar.xz
libtool
libeloop.pc
libtsm.pc
libuvt.pc
libuterm.pc
m4/
stamp-*
.deps
.dirstamp
.libs
.man_fixup
genshader
genunifont
src/static_shaders.c
src/genshader.c
src/shl_githead.c
src/font_unifont_data.bin
docs/reference/*.txt
docs/reference/*.bak
docs/reference/kmscon.????*
docs/reference/*.stamp
docs/reference/version.xml
docs/reference/*/
uvtd
wlterm
docs/man/*.1
docs/man/*.3
docs/man/*.5
docs/man/*.7
