*.swp
*.o
*.lo
*.la
kmscon
/test_*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
*.tar.bz2
libtool
m4/
stamp-*
.deps
.dirstamp
.libs
genshader
src/static_shaders.c
src/genshader.c
docs/reference/*.txt
docs/reference/*.bak
docs/reference/kmscon.????*
docs/reference/*.stamp
docs/reference/version.xml
docs/reference/*/
gtk-doc.make
